@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --backgroundHeader: #399918;
    --backgrounBody: #f4f4f4e0;
    --TitleHeaderColor: #f4f4f4;
    --FontTitle: "Radio Canada Big";
    --FontParagraph:"Poppins";
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--backgrounBody);
}

header{
    background-color: var(--backgroundHeader);
    color: #f4f4f4;
    text-align: center;
    padding: 2%;
}

.tituloHeader{
    font-family: var(--FontTitle);
}

.subTituloHeader{
    font-family: var(--FontTitle)
}

hr{
    background-color: black;
    height: 3px;
}

main{
    margin: 16px;
}

.tituloMain{
    font-family: var(--FontTitle);
    margin-bottom: 12px;
}

.subtituloMain{
    font-family: var(--FontTitle);
    margin-bottom: 12px;
}

p{
    font-family: var(--FontParagraph);
    font-size: 14px;
}

.imagemmob{
    display: block;
    margin: auto;
}

.imagempc{
    display: none;
}

a{
    text-decoration: none;
}

footer{
    background-color: var(--backgroundHeader);
    text-align: center;
    color: var(--TitleHeaderColor);
    padding: 4px;
}