@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.main{
    width: 400px;
    height: 350px;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: #78B7D0;
    border: 1px solid black;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

div{
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue",Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

input{
    height: 20px;
    width: 120px;
    border-radius: 6px;
    border-width: 0.5px;
    margin: auto;
}

button{
    width: 150px;
    margin: auto;
    margin-top: 8px;
}